OPENAI_API_KEY=

TAVILY_API_KEY=

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=

CLERK_SECRET_KEY=
CLERK_WEBHOOK_SECRET=

DATABASE_URL=
NEXT_PUBLIC_RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=
# success url
RAZORPAY_CALLBACK_URL=
NEXT_TELEMETRY_DISABLED=1